@font-face {
  font-family: "Six Caps";
  src: url("~@/assets/fonts/SixCaps-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa";
  src: url("~@/assets/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}
